body {
  background-image: url("/img/fotopuerto.jpg");
  background-size: cover;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #367fa9;
}

.btn-primary:hover:hover,
.btn-primary:active:hover,
.btn-primary.hover:hover {
  color: #fff;
  border-color: #1f648b;
}

.alert,
.alert-danger {
  color: white;
  border-radius: 0.25em;
  border: 0.0625em solid black;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.65), 1px -1px 0 rgba(214, 166, 166, 0.65), -1px 1px 0 rgba(0, 0, 0, 0.65), 1px 1px 0 rgba(0, 0, 0, 0.65);
}

.alert ul,
.alert-danger ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alert-danger {
  background-color: #D32F2F !important;
}

